@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background-color: #F1C21B;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
main h1 {
  font-family: "DM Mono", monospace;
  text-align: center;
  text-shadow: 2px 2px 0px #FFF933;
}
main #open-btn {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 0.5rem;
}
main #open-btn:hover {
  box-shadow: 4px 4px 0px black;
  color: #01090A;
  font-weight: 700;
}
main input[type=checkbox] {
  visibility: hidden;
}
main #modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: all 200ms;
  display: block;
  visibility: hidden;
}
main #modal-bg .modal {
  background: white;
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%, 0%);
  width: 100%;
  min-height: 20rem;
  z-index: 2;
  padding: 1.5rem 1rem 1rem 1rem;
  box-shadow: 2px 2px 25px #b89824;
  border: 2px solid #F1C21B;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 200ms;
}
main #modal-bg .modal h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: #01090A;
  text-shadow: 3px 2px 0px #F1C21B;
}
main #modal-bg .modal #btn-login {
  width: 100%;
  padding: 0.5em 1em;
  background-color: white;
  border: 1px solid black;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  transition: all 300ms;
}
main #modal-bg .modal #btn-login:hover {
  box-shadow: 4px 4px 0px black;
  color: #01090A;
  font-weight: 700;
}
main #modal-bg .modal .other-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
main #modal-bg .modal .other-links p {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
}
main #modal-bg .modal .other-links a {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  color: #b89824;
  text-decoration: none;
}
main #modal-bg .modal .other-links a:hover {
  color: #d8af1a;
  font-weight: bold;
}
main #modal-bg .modal:focus #modal-bg {
  background-color: red;
  visibility: visible;
}
main #modal-bg .registered-success {
  position: absolute;
  background-color: white;
  max-width: 20rem;
  top: -5%;
  left: 50%;
  text-align: center;
  padding: 1em 0.5em;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  box-shadow: 2px 2px 25px #b89824;
  visibility: hidden;
  transition: all 200ms;
}
main #modal-bg .registered-success h2 {
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  text-shadow: 2px 1px 0px #d8af1a;
}
main #modal-bg .registered-success-show {
  visibility: visible;
  top: 5%;
}
main #modal-bg::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.1;
  z-index: 1;
}

#checkbox1:checked + #modal-bg {
  visibility: visible;
}

#checkbox1:checked + #modal-bg .modal {
  bottom: 0;
}

#modal-bg:focus {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  #modal-bg .modal {
    top: 0%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    max-width: 20rem;
    width: 100%;
    height: max-content;
    opacity: 0;
    border-radius: 1rem;
    transition: all 200ms;
  }
  #checkbox1:checked + #modal-bg {
    visibility: visible;
  }
  #checkbox1:checked + #modal-bg {
    visibility: visible;
  }
  #checkbox1:checked + #modal-bg .modal {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 1366px) {
  main h1 {
    font-size: 3rem;
  }
  #modal {
    min-width: 25rem;
  }
}